{{#partial "content"}}

    <div class="container">

        <div class="card">
            <img id="hero-image" src="/images/animals.jpeg" width="70%" alt="A group of some wild animals">
            <div class="hero-text">
            <h3>Welcome to WildLife Tracker</h3>
            <p>Track wildlife sightings in the Douglas Fir forest and fill in the necessary details for each sighting. This is an environmental impact study as The Forest Service is issuing permission to Lumberwood timber company to clearcut the forest.</p>
        </div>

    </div>


{{/partial}}

{{> layout.hbs}}