<!DOCTYPE html>
<html>
<head>
    <title>{{#block "title"}} WildLife Tracker{{/block}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/jquery-ui-1.10.3.css" />
    <link href="https://fonts.googleapis.com/css?family=Gelasio|Inria+Serif|Lato|Open+Sans|Source+Sans+Pro&display=swap" rel="stylesheet">
</head>
<body>

<nav class="navbar navbar-default">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"> <img id="logo" src="/images/icon.png">WildLife Tracker</a>
    </div>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightings">Sightings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sightings/new">Add Sighting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/animals" >Animals</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/endangered" >Endangered Animals</a>
            </li>
        </ul>
    </div>
</nav>

<div class="content">
    {{#block "content"}}
    {{/block}}

</div>

{{#block "footer"}}

    <div class="footer">
        {{#block "footer-content"}}
        {{/block}}

    </div>

    </body>
    </html>
{{/block}}



