{{#partial "content"}}
    <br><br>

    <div class="card">

        <div>
            <h3>REPORT A SIGHTING</h3>
        </div>
    <form action="/sightings" method="post">
        <div class="form-group">
            <label for="animal_id">Animal</label>
            <select id="animal_id" class="form-control" list="animals" name="animal_id">
                <option label="- Select animal -"></option>
                <option value="Buffalo">Buffalo</option>
                <option value="Leopard">Leopard</option>
                <option value="Chimpanzee">Chimpanzee</option>
                <option value="Antelope">Antelope</option>
                <option value="Lion">Lion</option>
                <option value="Elephant">Elephant</option>
                <option value="Crocodile">Crocodile</option>
            </select>


        </div>

        <div class="form-group">
            <label for="location">Location</label>
            <select id="location" class="form-control" list="locations" name="location">
                <option label="- Choose location -"></option>
                <option value="Buffer zone">Buffer zone</option>
                <option value="Outer core">Outer core</option>
                <option value="Margin">Margin</option>
                <option value="Canopy">Canopy</option>
                <option value="Lake area">Lake area</option>
                <option value="Inner core">Inner core</option>
            </select>
        </div>

        <div class="form-group">
            <label for="ranger_name">Ranger</label>
            <input id="ranger_name" class="form-control" name="ranger_name" type="text"><br>
        </div>


        <button type="submit" class="btn btn-success">Record Sighting</button>
    </form>
    </div>

{{/partial}}

{{> layout.hbs}}